page-registrar-usuario-password {
  form {
    padding-top: 0;
  }
  ion-select {
    max-width: 100% !important;
  }
  .contenedor-vivienda {
    width: 35%;
    position: relative;
    img {
      padding-bottom: 8px;
    }
  }
  p.error {
    text-align: center;
  }
  .item-inner {
    padding-right: 0px !important;
  }
  .contenedor-codificacion {
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
  }
}
