<ion-header>

  <ion-navbar color="primary">
    <ion-title>Editar Familiar</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <!-- NUMERO DE CASA -->
  <div class="contenedor-vivienda centrar-hor">
    <img src="assets/imgs/home-green.png" padding>
    <div class="contenedor-codificacion">
      <ion-badge>{{objVivienda?.codificacion}}</ion-badge>
    </div>
  </div>
  <form [formGroup]="formuEditFam" padding>
    <!-- CAMPO DEL USUARIO -->
    <ion-item>
      <ion-label floating>Nombre</ion-label>
      <ion-input type="text" formControlName="username"
          [class.invalid]="!formuEditFam.controls.username.valid &&
          (formuEditFam.controls.username.dirty || intentoIngresar)">
      </ion-input>
    </ion-item>
    <p *ngIf="formuEditFam.controls.username.dirty && intentoIngresar"
        [class.error]="formuEditFam.controls.username.dirty">
     {{error_username}}
    </p>
    <!-- CAMPO DE LA CONTRASEÑA -->
    <ion-item>
      <ion-label floating>Contraseña</ion-label>
      <ion-input type="text" formControlName="password"
          [class.invalid]="!formuEditFam.controls.password.valid &&
          (formuEditFam.controls.password.dirty || intentoIngresar)">
      </ion-input>
    </ion-item>
    <p *ngIf="formuEditFam.controls.password.dirty && intentoIngresar"
        [class.error]="formuEditFam.controls.password.dirty">
     {{error_password}}
    </p>
    <!--VERIFICAR CONTRASEÑA -->
    <ion-item>
      <ion-label floating>Confirmar Contraseña</ion-label>
      <ion-input type="text" formControlName="verificarPassword"
          [class.invalid]="!formuEditFam.controls.verificarPassword.valid &&
          (formuEditFam.controls.verificarPassword.dirty || intentoIngresar)">
      </ion-input>
    </ion-item>
    <p *ngIf="formuEditFam.controls.verificarPassword.dirty && intentoIngresar"
        [class.error]="formuEditFam.controls.verificarPassword.dirty">
     {{error_verificarPassword}}
    </p>
  </form>

  <!-- <button ion-button margin-bottom class="centrar-hor" (click)="generarQR()">
    {{objFamiliar ? 'Guardar' : 'Grabar y generar código'}}
  </button> -->

  <button ion-button margin-bottom class="centrar-hor" (click)="generarQR()">
    Registrar usuario
  </button>
</ion-content>
