ver-perfil-vivienda {

  .contenedor-vivienda {
    width: 35%;
    position: relative;
  }

  .contenedor-codificacion {
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
  }

}
