<ion-header>

  <ion-navbar color="primary">
    <!-- <ion-title></ion-title> -->
    <ion-buttons end>
      <button ion-button (click)="importarContactos()">
        <!--{{hayContactosSeleccionados() ? 'Agregar contactos' : 'Seleccionar todos'}}-->
        Agregar contactos
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <ion-item-group *ngFor="let contacto of contactos">
      <ion-item-divider *ngIf="letraNoSeVisualizo(contacto)">
        {{primeraLetra(contacto)}}
      </ion-item-divider>

      <ion-item (click)="seleccionarContacto(contacto)">
        <ion-icon name="checkmark" item-end color="primary"
            *ngIf="contacto.seleccionado">
        </ion-icon>
        {{contacto.nombre}} {{contacto.apellido}}
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>
