page-ver-grupos {

  .nombre {
    font-weight: bold;
    font-size: 17px;
  }

  .item {
    padding-left: 0;
  }

  .input-wrapper {
    padding-left: 16px;
  }

  ion-fab[right] button {
    background: #00B05C;
  }

}
