<ion-header>

  <ion-navbar color="primary">
    <ion-title>Gestionar</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="desplegarMenu($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <!-- DESLIZAR HACIA ABAJO PARA ACTUALIZAR -->
  <ion-refresher (ionRefresh)="gestoActualizar($event)">
    <!-- LA ANIMACION QUE SE MUESTRA AL DESLIZAR -->
    <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Deslice para actualizar">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let item of lista">
      <h2 item-left>{{item.usuario.nombre}}</h2>
      <h3 item-right>{{item.rol.nombre_rol}}</h3>
      <!-- <button ion-button item-right clear>
        {{item.rol.nombre_rol}}
        <ion-icon item-end name="settings" (tap)="verPermisos(item)"></ion-icon>
      </button> -->
      <ion-icon item-end name="settings" (tap)="verPermisos(item)"></ion-icon>
    </ion-item>
  </ion-list>

  <empty-state *ngIf="lista?.length === 0"
      [img]="'assets/imgs/warning-sign.png'"
      [error]="'No hay usuarios registrados.'"
      [posibleSolucion]="'Los usuarios se crean desde la web.'">
  </empty-state>

</ion-content>
