<ion-header>

  <!-- La idea es que al presionar el boton de busqueda, es buscador aparezca
  y reemplace todo el contenido de la barra de navegacion -->
  <ion-navbar [hideBackButton]="mostrarBuscador" color="primary">
    <ion-title *ngIf="!mostrarBuscador">Viviendas</ion-title>
    <ion-buttons end *ngIf="!mostrarBuscador">
      <button ion-button icon-only (tap)="mostrarBuscador = true">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (tap)="alternarVistaViviendas()">
        <ion-icon [name]="_ap.isViviendasComoLista() ? 'apps' : 'list' ">
        </ion-icon>
      </button>
    </ion-buttons>
    <!-- EL BUSCADOR -->
    <ion-searchbar *ngIf="mostrarBuscador"
        (ionInput)="buscarViviendas($event)"
        placeholder="Buscar"
        showCancelButton=true
        cancelButtonText="Cancelar"
        (ionCancel)="cancelarBusqueda($event)"
        animated=true
        debounce=0
        class="fadein-down">
    </ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- DESLIZAR HACIA ABAJO PARA ACTUALIZAR -->
  <ion-refresher (ionRefresh)="gestoActualizar($event)">
    <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="deslice para actualizar">
    </ion-refresher-content>
  </ion-refresher>

  <h3 text-center>{{objCondominio?.nombre_condominio}}</h3>

  <!-- LAS VIVIENDAS VISUALIZADAS EN UNA CUADRICULA -->
  <ion-grid *ngIf="!_ap.isViviendasComoLista()">
    <ion-row>
      <ion-col *ngFor="let vivienda of viviendas" col-4 col-md-3 col-lg-2
          text-center margin-vertical (tap)="verVivienda(vivienda)">
        <img [src]="vivienda.familia ? 'assets/imgs/home-green.png' :
            'assets/imgs/home-yellow.png'" alt="vivienda" padding
            style="padding-bottom: 8px">
        <ion-badge>{{vivienda?.codificacion}}<br>{{vivienda?.familia}}</ion-badge>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- LAS VIVIENDAS VISALIZADAS EN UNA LISTA -->
  <ion-list *ngIf="_ap.isViviendasComoLista()">
    <button ion-item *ngFor="let vivienda of viviendas"
        (tap)="verVivienda(vivienda)">
      {{ (vivienda?.familia) ? (vivienda?.familia) : (vivienda?.codificacion) }}
    </button>
  </ion-list>

  <!-- EMPTY STATE PARA CUANDO EL CONDOMINIO NO TIENE CASAS REGISTRADAS -->
  <empty-state *ngIf="!viviendas || viviendas?.length === 0"
      [img]="'assets/imgs/neighborhood.png'"
      [error]="'No hay viviendas'">
  </empty-state>

</ion-content>
