page-registrar-invitacion {

  form {
    padding-top: 0 !important;
  }

  ion-select {
    max-width: 100%;
  }

  p.error {
    text-align: center;
  }

  .item-inner {
    padding-right: 0px !important;
  }

  //
  // ion-fab > button[ion-fab] {
  //   background: transparent;
  // }

}
