<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      {{soloRegistrarAmigo ? 'Registrar amigo' : 'Invitado'}}
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

  <form [formGroup]="formuRegInv" padding>
    <!-- CAMPO DEL NOMBRE -->
    <ion-item>
      <ion-icon name="contact" item-start></ion-icon>
      <ion-label floating>Nombre</ion-label>
      <ion-input type="text" formControlName="nombre"
          [class.invalid]="!formuRegInv.controls.nombre.valid &&
          (formuRegInv.controls.nombre.dirty || intentoIngresar)">
      </ion-input>
    </ion-item>
    <p *ngIf="formuRegInv.controls.nombre.dirty && intentoIngresar && !soloRegistrarAmigo"
        [class.error]="formuRegInv.controls.nombre.dirty">
      {{error_nombre}}
    </p>
    <!-- CAMPO DEL APELLIDO -->
    <ion-item>
      <ion-icon item-start></ion-icon>
      <ion-label floating>Apellidos</ion-label>
      <ion-input type="text" formControlName="apellido"
          [class.invalid]="!formuRegInv.controls.apellido.valid &&
          (formuRegInv.controls.apellido.dirty || intentoIngresar)">
      </ion-input>
    </ion-item>
    <p *ngIf="formuRegInv.controls.apellido.dirty && intentoIngresar && !soloRegistrarAmigo"
        [class.error]="formuRegInv.controls.apellido.dirty">
      {{error_apellido}}
    </p>
    <!-- CAMPO DE LA FECHA -->
    <ion-item *ngIf="!soloRegistrarAmigo">
      <ion-icon name="calendar" item-start color="verde"></ion-icon>
      <ion-label floating>
        <p text-wrap>La invitación es válida desde las 00:00 hasta las 23:59 de
          la fecha seleccionada
        </p>
      </ion-label>
      <ion-datetime formControlName="fecha" doneText="listo"
          displayFormat="DD de MMMM del YYYY" pickerFormat="DD MMM YYYY"
          cancelText="cancelar" [min]="util.getFechaNormal()">
      </ion-datetime>
    </ion-item>
    <p [class.error]="formuRegInv.controls.fecha.dirty" *ngIf="!soloRegistrarAmigo">
      {{error_fecha}}
    </p>
    <!-- PARA EXPANDIR EL FORMULARIO -->
    <button ion-fab (click)="mostrarFormularioDetallado()" mini float-right>
      {{detallado? '-' : '+'}}
    </button>
    <!-- CAMPO DEL CI -->
    <ion-item *ngIf="detallado">
      <ion-icon name="create" item-start color="naranja"></ion-icon>
      <ion-label floating>CI (opcional)</ion-label>
      <ion-input type="number" formControlName="ci"
          [class.invalid]="!formuRegInv.controls.ci.valid &&
          (formuRegInv.controls.ci.dirty || intentoIngresar)">
      </ion-input>
    </ion-item>
    <!-- CAMPO DEL CELULAR -->
    <ion-item *ngIf="detallado">
      <ion-icon name="call" item-start color="verde"></ion-icon>
      <ion-label floating>Celular (opcional)</ion-label>
      <ion-input type="number" formControlName="celular"
          [class.invalid]="!formuRegInv.controls.celular.valid &&
          (formuRegInv.controls.celular.dirty || intentoIngresar)">
      </ion-input>
    </ion-item>
    <p *ngIf="formuRegInv.controls.celular.dirty && intentoIngresar && !soloRegistrarAmigo"
        [class.error]="formuRegInv.controls.celular.dirty">
      {{error_celular}}
    </p>
    <!-- CAMPO DE LA PLACA -->
    <ion-item *ngIf="detallado && !soloRegistrarAmigo">
      <ion-icon name="closed-captioning" item-start></ion-icon>
      <ion-label floating>Placa (opcional)</ion-label>
      <ion-input type="text" formControlName="placa"
          [class.invalid]="!formuRegInv.controls.placa.valid &&
          (formuRegInv.controls.placa.dirty || intentoIngresar)">
      </ion-input>
    </ion-item>
    <p *ngIf="formuRegInv.controls.placa.dirty && intentoIngresar && !soloRegistrarAmigo"
        [class.error]="formuRegInv.controls.placa.dirty">
      {{error_placa}}
    </p>
  </form>

  <ion-fab bottom right>
    <button ion-fab class="sin-sombra" *ngIf="!soloRegistrarAmigo"
        (click)="enviarInvitacion()">
      <img src="assets/imgs/sent-mail-white.png" alt="enviar">
    </button>
    <button ion-fab class="sin-sombra" *ngIf="soloRegistrarAmigo"
        (click)="guardarContacto()">
      <img src="assets/imgs/disquette-transparent.png" alt="guardar">
    </button>
  </ion-fab>

</ion-content>
