page-popover-administrador {

  // .item-inner {
  //   border-bottom: 0;
  // }
  #btnCerrarSesion > div {
    border-bottom: 0;
  }

  button, cambiar-tema ion-item {
    padding-left: 0 !important;
  }

  .input-wrapper {
    padding-left: 16px;
  }

}
