<ion-header>

  <ion-navbar color="primary">
    <ion-title>Amigos</ion-title>
    <!--<ion-buttons end>-->
      <!--<button ion-button (click)="importarAmigos()">-->
        <!--Importar-->
      <!--</button>-->
    <!--</ion-buttons>-->
  </ion-navbar>

</ion-header>


<ion-content esconder-boton-flotante>

  <!-- DESLIZAR HACIA ABAJO PARA ACTUALIZAR -->
  <ion-refresher (ionRefresh)="gestoActualizar($event)">
    <!-- LA ANIMACION QUE SE MUESTRA AL DESLIZAR -->
    <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Deslice para actualizar">
    </ion-refresher-content>
  </ion-refresher>

  <!-- LA LISTA DE AMIGOS -->
  <ion-list margin-top>
    <ion-item-sliding *ngFor="let amigo of amigos; let i = index" #slidingItem>
      <!-- LA FORMA EN CÓMO SE VISUALIZARÁ EL AMIGO -->
      <ion-item (click)="cargarDatos(amigo)">
        <p class="nombre">{{amigo.nombre}} {{amigo.apellido}}</p>
        <img id="img-enviar-invitacion" src="assets/imgs/sent-mail-white.png"
            alt="enviar" float-right item-end (click)="enviarInvitacion(amigo)">
      </ion-item>

      <!-- DESLIZAR PARA ELIMINAR -->
      <ion-item-options side="right">
        <button ion-button icon-only color="danger"
            (click)="confirmarEliminarAmigo(i, slidingItem)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <!--SIMULO UN ELEMENTO MÁS, PARA QUE EL BOTON FLOTANTE NO OBSTRUYA LA VISTA-->
  <ion-list no-lines>
    <ion-item></ion-item>
  </ion-list>

  <!-- BOTON PARA AGREGAR AMIGOS -->
  <ion-fab bottom right margin-vertical>
    <button ion-fab (click)="agregarAmigo()" color="secundario">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <!--&lt;!&ndash; BOTON PARA VER LOS GRUPOS &ndash;&gt;-->
  <!--<ion-fab bottom left margin-vertical>-->
    <!--<button ion-fab (tap)="verGrupos()">-->
      <!--<ion-icon name="people"></ion-icon>-->
    <!--</button>-->
  <!--</ion-fab>-->

  <!-- EMPTY STATE PARA CUANDO LA LISTA DE AMIGOS ESTÁ VACIA -->
  <empty-state *ngIf="amigos?.length === 0"
      [img]="'assets/imgs/group-of-men.png'"
      [error]="'Parece que no tenes ningún amigo registrado'"
      [posibleSolucion]="'Agrega uno'">
  </empty-state>

</ion-content>
