<ion-header>

  <ion-navbar></ion-navbar>

</ion-header>


<ion-content>

    <centrar-componente>
      <ion-card>
        <ion-card-header text-wrap text-center *ngIf="nombreInvitado">
          Esta invitación puede ser utilizada sólo por {{nombreInvitado}}
        </ion-card-header>

        <ion-card-header text-wrap text-center *ngIf="nombreEvento">
          {{nombreEvento}}
        </ion-card-header>
        
        <ion-card-content>
          <img [src]="codigoGenerado" (click)="compartir()">
          <p text-center *ngIf="sePuedeCompartir" class="texto-compartir">
            Toca para compartir
          </p>
        </ion-card-content>
      </ion-card>
      <img src="assets/imgs/mencargo.png" alt="mencargo" style="width: 25%">
    </centrar-componente>

</ion-content>
