@import '../theme/animaciones';
@import "../theme/tema.claro";
@import "../theme/tema.oscuro";

/* esto es muy importante para que sweetalert sea visible en dispositivos iOS */
body {
  position: static !important;
}

.centrar-hor {
  margin: 0 auto;
  display: block;
}

#logo-no-transparente {
  background: white;
}

/* para resaltar el campo de un formulario */
.invalid {
  border: 1px solid #ea6153;
}

/* para mostrar un error en un campo de un formulario */
.error {
  color: #ea6153;
  margin: 5px 0;
  font-size: 12px;
}

ion-item.item-input, ion-item.item-select, ion-item.item-datetime {
  padding-left: 0;
}

.sin-sombra {
  box-shadow: none;
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.negrita {
  font-weight: bold;
}

/* para no mostrar el texto del boton para ir atrás en android */
.back-button-text-md {
  display: none;
}

.cabecera-visitas {
  color: #666;
}

// la tabla de las visitas
page-visitas .item-md p {
  color: black;
}

.tema-oscuro {

  .alert-head {
    color: blue !important;
  }
}


page-inicio-propietario > ion-fab {
  background: white;
}

#fab-titulo-evento {
  background: white;
  width: 100%;
}

.cabecera-visitas {
  background-color: white;
}
