<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      Hola {{objPropietario?.nombre}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="desplegarMenu($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-fab id="logo-no-transparente">
    <img src="assets/imgs/portada_mencargo_claro.png" style="width: 50%">
  </ion-fab>

  <centrar-componente>

    <div class="centrar-hor" id="espacio-vacio"></div>
    <div class="centrar-hor" id="espacio-vacio"></div>

    <ion-grid text-center> <!-- text-center para centrar -->
      <ion-row>
        <!-- CONTACTOS -->
        <ion-col col-5 class="centrar-hor" (tap)="tap('Contactos')">
          <div>
            <img [src]="fueTocado('Contactos') ?
                'assets/imgs/round-phone-book-orange.png' :
                'assets/imgs/round-phone-book-blue.png'">
            <p>Contactos</p>
          </div>
        </ion-col>
        <!-- ENVIAR INVITACION -->
        <ion-col  col-5 class="centrar-hor" (tap)="tap('Enviar Invitacion')">
          <div>
            <img [src]="fueTocado('Enviar Invitacion') ?
                'assets/imgs/round-sent-mail-orange.png' :
                'assets/imgs/round-sent-mail-blue.png'">
            <p>Enviar invitación</p>
          </div>
        </ion-col>
        <!-- CREAR EVENTO -->
        <!--<ion-col col-5 class="centrar-hor" (tap)="tap('Crear Evento')"-->
            <!--*ngIf="!hayEvento">-->
          <!--<div>-->
            <!--<img [src]="fueTocado('Crear Evento') ?-->
                <!--'assets/imgs/round-balloon-orange.png' :-->
                <!--'assets/imgs/round-balloon-blue.png'">-->
            <!--<p>Crear evento</p>-->
          <!--</div>-->
        <!--</ion-col>-->
        <!-- LISTA DE INVITADOS -->
        <!--<ion-col  col-5 class="centrar-hor" (tap)="tap('Lista de Invitados')"-->
            <!--*ngIf="hayEvento">-->
          <!--<div>-->
            <!--<img [src]="fueTocado('Lista de Invitados') ?-->
                <!--'assets/imgs/round-verification-orange.png' :-->
                <!--'assets/imgs/round-verification-blue.png'">-->
            <!--<p>Lista de invitados</p>-->
          <!--</div>-->
        <!--</ion-col>-->
        <!-- GRUPOS DE AMIGOS -->
        <!-- <ion-col col-5 class="centrar-hor" (tap)="tap('Grupos')">
          <div>
            <img [src]="fueTocado('Grupos') ?
                'assets/imgs/round-group-orange.png' :
                'assets/imgs/round-group-blue.png'">
            <p>Grupos</p>
          </div>
        </ion-col>
        <!-- NOTIFICACIONES -->
        <!--<ion-col col-5 class="centrar-hor" (tap)="tap('Notificaciones')">-->
          <!--<div>-->
            <!--<div [class.ta-da]="animacionBotonNotificacion == ANIMACION_TA_DA"-->
                <!--[class.swing]="animacionBotonNotificacion == ANIMACION_SWING">-->
              <!--<ion-badge class="contador-notificaciones" color="danger"-->
                  <!--*ngIf="hayNotificacionSinLeer"></ion-badge>-->
              <!--<img [src]="fueTocado('Notificaciones') ?-->
                  <!--'assets/imgs/round-notification-orange.png' :-->
                  <!--'assets/imgs/round-notification-blue.png'">-->
            <!--</div>-->
            <!--<p>Notificaciones</p>-->
          <!--</div>-->
        <!--</ion-col>-->
        <!-- SOPORTE TECNICO -->
        <ion-col col-5 class="centrar-hor" (tap)="tap('Soporte Tecnico')">
          <div>
            <img [src]="fueTocado('Soporte Tecnico') ?
                'assets/imgs/round-support-orange.png' :
                'assets/imgs/round-support-blue.png'">
            <p>Soporte técnico</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </centrar-componente>

  <swal #alertaIngreso title="" type=""></swal>

</ion-content>
