page-inicio-propietario {

  .icono {
    font-size: 30px;
  }

  // para centrar el contenido (el icono y la etiqueta)
  .item {
    text-align: center;
  }

  img {
    width: 75%;
  }

  #espacio-vacio {
    width: 55%;
    height: 15%;
  }

  ion-badge {
    display: block !important;
    position: absolute;
    right: 10%;
    height: 20px;
    width: 20px;
    border-radius: 50% !important;
  }

}
