page-inicio-propietario {

  .icono {
    font-size: 30px;
  }

  // para centrar el contenido (el icono y la etiqueta)
  .item {
    text-align: center;
  }

  img {
    width: 75%;
  }

  #espacio-vacio {
    width: 55%;
    height: 15%;
  }

  .contador-notificaciones {
    position: absolute;
    right: 10%;
  }

  .quitar-animacion {
    -webkit-animation: initial !important;
  }

}
