<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{titulo}}</ion-title>
  </ion-navbar>
  <ion-toolbar class="fadein-down" color="secundario" *ngIf="dePago">
    <strong>
      <p text-center text-wrap style="color: white">
        La adicion de un familiar tiene un costo mensual de 7 bs
      </p>
    </strong>
  </ion-toolbar>

</ion-header>


<ion-content>

  <!-- NUMERO DE CASA -->
  <div class="contenedor-vivienda centrar-hor">
    <img src="assets/imgs/home-green.png" padding>
    <div class="contenedor-codificacion">
      <ion-badge>{{objVivienda?.codificacion}}</ion-badge>
    </div>
  </div>
  <form [formGroup]="formuRegFam" padding>
    <!-- CAMPO DEL NOMBRE -->
    <ion-item>
      <ion-icon name="contact" item-start></ion-icon>
      <ion-label floating>Nombre</ion-label>
      <ion-input type="text" formControlName="nombre"
          [class.invalid]="!formuRegFam.controls.nombre.valid &&
          (formuRegFam.controls.nombre.dirty || intentoIngresar)">
      </ion-input>
    </ion-item>
    <p *ngIf="formuRegFam.controls.nombre.dirty && intentoIngresar"
        [class.error]="formuRegFam.controls.nombre.dirty">
     {{error_nombre}}
    </p>
    <!-- CAMPO DEL APELLIDO -->
    <ion-item>
      <ion-icon item-start></ion-icon>
      <ion-label floating>Apellidos</ion-label>
      <ion-input type="text" formControlName="apellido"
          [class.invalid]="!formuRegFam.controls.apellido.valid &&
          (formuRegFam.controls.apellido.dirty || intentoIngresar)">
      </ion-input>
    </ion-item>
    <p *ngIf="formuRegFam.controls.apellido.dirty && intentoIngresar"
        [class.error]="formuRegFam.controls.apellido.dirty">
     {{error_apellido}}
    </p>
    <!-- CAMPO DEL SEXO -->
    <ion-item padding-top>
      <ion-icon item-start [name]="formuRegFam.controls.sexo.value ?
          (formuRegFam.controls.sexo.value == 'M' ? 'male' : 'female') : 'help'"
            [color]="formuRegFam.controls.sexo.value ?
          (formuRegFam.controls.sexo.value == 'M' ? 'celeste' : 'rosado')
          : 'dark'">
      </ion-icon>
      <ion-label>Sexo:</ion-label>
      <!--  class="tema-oscuro" -->
      <ion-select formControlName="sexo" cancelText="cancelar"
          class="getModoNocturno()">
        <ion-option value="M">Masculino</ion-option>
        <ion-option value="F">Femenino</ion-option>
      </ion-select>
    </ion-item>
    <!-- CAMPO DEL CELULAR -->
    <ion-item>
      <ion-icon name="call" item-start color="verde"></ion-icon>
      <ion-label floating>Celular</ion-label>
      <ion-input type="number" formControlName="celular"
          [class.invalid]="!formuRegFam.controls.celular.valid &&
          (formuRegFam.controls.celular.dirty || intentoIngresar)">
      </ion-input>
    </ion-item>
    <p *ngIf="formuRegFam.controls.celular.dirty && intentoIngresar"
        [class.error]="formuRegFam.controls.celular.dirty">
     {{error_celular}}
    </p>
    <!-- CAMPO DEL CORREO -->
    <ion-item>
      <ion-icon name="mail" item-start color="rojo"></ion-icon>
      <ion-label floating>Correo</ion-label>
      <ion-input type="email" formControlName="correo"
          (ngModelChange)="aMinuscula($event)"
          [class.invalid]="!formuRegFam.controls.correo.valid &&
          (formuRegFam.controls.correo.dirty || intentoIngresar)">
      </ion-input>
    </ion-item>
    <p *ngIf="formuRegFam.controls.correo.dirty && intentoIngresar"
        [class.error]="formuRegFam.controls.correo.dirty">
      {{error_correo}}
    </p>
    <!-- CAMPO DEL CI  -->
    <ion-item>
      <ion-icon name="create" item-start color="naranja"></ion-icon>
      <ion-label floating>CI</ion-label>
      <ion-input type="number" formControlName="ci"
          [class.invalid]="!formuRegFam.controls.ci.valid &&
          (formuRegFam.controls.ci.dirty || intentoIngresar)">
      </ion-input>
    </ion-item>
    <p *ngIf="formuRegFam.controls.ci.dirty && intentoIngresar"
        [class.error]="formuRegFam.controls.ci.dirty">
     {{error_ci}}
    </p>
  </form>

  <button ion-button margin-bottom class="centrar-hor" (click)="generarQR()">
    {{objFamiliar ? 'Guardar' : 'Grabar y generar código'}}
  </button>

</ion-content>
